* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





.headerPrincipal {


    display: flex;

    align-items: center;
    background-color: rgba(165, 209, 247, .9);
    border: 0px;
    height: 90px;
    padding: 30px;
    box-shadow: -5px 11px 21px -13px rgba(0, 0, 0, 0.75);


}



.ofertaButton {
    display: flex;
    justify-content: center;
}

.mainMenu li {
    display: inline-block;
    align-items: center;
    padding: 5px;

}

.mainMenu {
    font-family: 'Fredoka One', cursive;
    background-color: #A3DFF3;


}

.mainMenu a {
    font-style: oblique;
    color: #9588DB;

}

.nav-link {
    color: #9588DB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}


h1 {
    color: #9588DB;
    font-size: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Fredoka One', cursive;
    text-shadow: -3px 3px #ffffff;
}

h2 {
    color: #9588DB;
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    text-align: center;
    text-shadow: -3px 3px #ffffff;


}

/* clase para los sutitulos en h2*/
.subtitle {
    color: rgb(248, 125, 80);
}

h3 {
    color: #9588DB;
    font-family: 'Fredoka One', cursive;
    font-size: 26px;
    text-align: center;


}

/* Centrando el carousel*/
.carouselSection {
    display: flex;
    justify-content: center;

}

/*Cambiando tamaño del carousel*/
.carousel {

    width: 800px;
    height: auto;
    margin: 15px 0;
}

.carouselSection h4 {
    color: coral;
    font-weight: 800;
    font-size: 36px;

}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

p {
    font-family: 'Roboto', sans-serif;

}



#listOrder {


    list-style-type: upper-alpha;
}

/* formateo de la tabla de posología*/
table {


    background-color: blueviolet;
    text-align: center;
    padding: 10px;


}

caption {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    padding: 10px;
    color: brown;

}

thead {
    font-size: 99px;
}

tr {
    background-color: beige;
    padding: 100px;
}

td {
    padding: 5px;
}

.cuenta {

    margin-top: 30px;

    padding: 20px;
    -webkit-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
}

/*Parrafo ref a descripción de seccion beneficios del  CDS*/
.descripcion {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    word-spacing: 6px;
    text-align: center;
    font-size: 20px;

}


/*clase de la sección beneficios del CDS*/
.beneficiosDioxido {

    display: flex-inline;
    background-image: url("../img/cds-dioxido-de-cloro-uruguay.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: auto;



    min-height: 650px;

    /* Efecto Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}



.nuevosTestimonios {
    align-items: center;
    text-align: center;

}

/* Estilos del Footer*/
footer {

    height: 60px;
    background-color: #88DCA1;
    margin: 20px 0 20px;
    text-align: center;
    padding-top: 10px;

}

.testimoniosVideos {
    display: flex;
    justify-content: center;


}

/* Convirtiendo en flex al div */
.testyDolencias {

    display: flex;
    justify-content: center;
    grid-area: area2;
    background: rgb(163, 223, 243);
    background: linear-gradient(0deg, rgba(163, 223, 243, 1) 0%, rgba(255, 255, 254, 1) 100%);

}




.dolenciasPosologia {
    display: flex;
    grid-area: area3;
    justify-content: center;
    align-items: center;

}

.reglaPatogenos {


    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px 0px;

    background-image: url("../img/back-red-virus-1920x649.jpg");
    background-attachment: fixed, scroll;

    width: auto;
    height: 200px;
}

.testimoniosH1 {
    margin-top: 50px;
}

/* Animación para h1 y h2*/
@keyframes aparecer {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}



.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.etiquetaProductos {

    padding: 10px;
    text-align: center;

}

.etiquetaProductos img {

    width: 600px;
    height: 400px;
}

.formMain {
    margin-top: 30px;
    margin-left: 10px;
    padding: 20px;
    -webkit-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
}

/* Cambio los colores por defecto de la clase btn-primary de boostrap*/
.btn-primary {
    background-color: rgb(228, 174, 179);
    border: #88DBA1;

}

/* Cambio el color en el hover de la clase btn-primary de Boostrap*/
.btn-primary:hover {

    background-color: #88DBA1;

}

/*Agrego los MediaQuery*/

@media only screen and (min-width:576px) {



    .beneficiosDioxido {
        padding-top: 60px;
    }





    .elementos {
        display: flex;
    }








}

@media only screen and (max-width:300px) {}

@media only screen and (max-width:768px) {

    h1 {
        font-size: xx-large;
        margin-top: 60PX;
    }

    h2 {

        font-size: x-large;
    }

    .informacionTecnica__h1 {
        padding: 40px;
    }

    .nuevosTestimonios {
        display: none;
    }

    .testimoniosVideos {
        display: none;
    }








    .nav {
        background-color: rgb(165, 209, 247);



    }

    .nav-link {

        font-size: smaller;
    }


}

@media only screen and (min-width:992px) {}

/* Efecto en hover y sombra*/
.opac:hover {
    transition: 1s;
    opacity: 1;
    transform: scale(1.03);
    -webkit-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);

}



.nav-link {
    color: #9588DB;
}

.linea {
    position: relative;
    top: -100px;
    background-image: url("../img/linea.svg");
    height: 100px;
}

.patogenos {
    position: relative;
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
}



.patogenoDos {
    transform: rotate(360deg);
    transition: all 8s;
    animation-duration: 10s;
}

.patogenoUno {
    transform: translate(40px, 25%);
    transition: all 10s;
    animation-duration: 10s;
}

.patogenoTres {
    transform: rotate(180deg);
    transition: all 4s;
    position: relative;


}

.patogenoCuatro {

    transition: all 10s;
    position: relative;
    animation-duration: 2s;
    animation-name: pat3;

}

.patogenoCinco {
    transform: scale(2, 1.5);
    transition: all 4s;
    animation-duration: 10s;
    position: relative;

}

#pat1 {
    animation-name: palp;
    animation-duration: 2s;
    animation-delay: 100ms;
    

}

#pat2{

    animation-name: palp;
    animation-duration: 4s;
    animation-delay: 100ms;

}

#pat3 {

    animation-name: anima3;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

#pat4 {

    animation-name: anima2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

#pat5 {
    animation-name: anima1;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes anima1 {
    0% {

        top: 10px;
    }

    50% {

        top: 80px;
        transform: rotate(180deg);
    }

    100% {

        top: 20px;
    }


}

@keyframes anima2 {
    0% {

        top: 0px;
    }

    50% {

        top: 50px;
        transform: rotate(360deg);
    }

    100% {

        top: 0px;
    }
}

@keyframes anima3 {
    0% {

        left: 0px;
    }

    50% {

        transform: translate(150px, 50px);
    }

    100% {

        transform: translate(-150px, -50px);


    }
}

@keyframes palp {

    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }
     100% {
         opacity: 0.9;
     }
}




.patogenoSeis {
    transform: rotate(360eg);
    transition: all 15s;
    animation-duration: 10s;
}

.zoom:hover {

    transform: scale(1.03);
    -webkit-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 11px 19px -1px rgba(0, 0, 0, 0.35);
    transition: 500ms;

}

.zoom {
    margin: 8px;
}





.patogeno:hover {

    opacity: 0%;
    transition: all 2s;
    visibility: hidden;
    cursor: wait;
    
    

}



.patogenosLineaDos {
    justify-content: space-evenly;

}


.contenedorTextoReglaPatogenos {
    position: relative;

}

.textoReglaPatogeno {



    font-size: 46px;
    font-family: 'Fredoka One', cursive;
    color: aliceblue;
    text-align: center;
}

.margenes {
    margin: 50px 0px;
}

.opac {
    opacity: 0.5;
}

.accordion-button {
    color: #9588DB;
}

.productos {
    justify-content: space-evenly;


}

.beneficios {
    justify-content: center;
}