/* Aplicando estilos con SASS + BEM a productosSeccionInfTecnica y modificador*/
.informacionTecnica {

    background-color: rgb(255, 235, 235);

    &__lista {


        list-style: circle;

    }

    &__item {
        &--destacado {
            font-size: 22px;
        }
    }

    &__h1 {
        color: red;
    }
}

/* Aplicando estilos con SASS + BEM y modificador lo beneficios*/
.beneficiosOl {
    background-color: aliceblue;

    &__item {
        font-family: Georgia, 'Times New Roman', Times, serif;

        &--destacado {
            text-decoration: underline;
            font-weight: 800;
        }
    }
}

/*Aplicando estilo SASS a index p descripción*/

.descripcion {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 800;
}

/*Agregados para el desafío complementario*/
    /*Se agregó nueva sección de card de BT con testimonios Fotos*/
    /* Se agregó sección de noticias en el index*/
    /*Se aplicó Sass + Bem + modificador + container de BT*/

.testimoniosFotos {
    background-color: bisque;
    margin-top: 15px;
    margin-bottom: 35px;

    &__p--fontStyle {
        font-style: italic;
        text-align: center;
    }

    &__p--Destacado {
        font-weight: 600;
    }
}

/*Solo para darle un margin*/
.cardTestimonio {
    margin-bottom: 10px;
}

.noticias {
    background-color: bisque;
    padding: 10px;
    &__div {
        border: 3px;
        border-style: groove;
        border-color: cadetblue;
        margin: 10px;
        padding: 10px;
        &__p{
        text-align: center;
        &--destacado{
            border-style: dotted;
            padding: 10px;
        }
    }
        
    }
    
}

.divItem{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 6px;
}

.celda{
  //padding: 6px;
}