/* Aplicando estilos con SASS + BEM a productosSeccionInfTecnica y modificador*/
.informacionTecnica {

    background-color: rgb(255, 235, 235);

    &__lista {


        list-style: circle;

    }
    &__item{
        &--destacado{
            font-size: 22px;
        }
    }

    &__h1 {
        color: red;
    }
}

/* Aplicando estilos con SASS + BEM y modificador lo beneficios*/
.beneficiosOl {
    background-color: aliceblue;

    &__item {
        font-family: Georgia, 'Times New Roman', Times, serif;
        &--destacado{
            text-decoration: underline;
            font-weight: 800;
        }
    }
}

/*Aplicando estilo SASS a index p descripción*/

.descripcion{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 800;
}

